.container {
    padding: 50px 0;
    max-width: 70%;
    margin: 0 auto;
    background-color: #F7F6F5;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.content{
    text-align: center;
}

.father{
    padding: 50px 0;
    background-color: #202123;
    margin-top: 60px; /* Ajusta según la altura de tu navbar */
    height: 100%;
    /* display: flex;
    justify-content: center; */
}

.title {
    font-family: 'Montserrat';
    font-size: 24px;
    margin-bottom: 20px;
}

.calendar {
    margin: 0 auto 20px; /* Margen automático para centrar */
    max-width: 400px; /* Opcional: ajusta el ancho máximo según tus necesidades */
    border: none;
    background-color: #F7F6F5;
}

.selectContainer {
    display: flex; /* Usa flexbox para alinear los selects */
    justify-content: space-between; /* Espaciado entre los selects */
    margin-bottom: 20px; /* Mantén el margen inferior */
}

.selectWrapper {
    width: 48%; /* Ajusta el ancho de cada contenedor de select */
    text-align: start;
}

.select {
    width: 100%; /* Que el select ocupe el 100% de su contenedor */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.buttonContainer {
    /* display: flex;
    justify-content: space-between;
    margin-top: 20px; */
}
    
.bookButton {
    background-color: #E74C3C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.waitingButton {
    background-color: #C0392B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.terms {
    font-size: 12px;
    color: #555;
    margin-top: 20px;
}

.inputContainer {
    margin-bottom: 20px;
  }
  
  .inputWrapper {
    margin-bottom: 15px;
    text-align: start;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Asegura que el ancho incluye padding y bordes */
    font-size: 16px;
  }

@media (max-width: 768px) {
    .container {
        max-width: 95%;
        padding: 50px 10px;
    }

    .calendar{
        max-width: 85%;
    }

    .selectContainer {
        flex-direction: column;
        max-width: 90%;
        margin: 10px auto;
    }

    .selectWrapper {
        width: 100%; /* Ajusta el ancho de cada contenedor de select */
        margin-bottom: 10px;
    }

    .buttonContainer{
        max-width: 90%;
        margin: 0 auto;
    }

  }
  