.menu-container {
    margin: 20px auto;
    max-width: 45%;
    padding-bottom: 70px;
  }

.link-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.Link-Carta {
    background-color: rgb(118, 1, 1);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 14px;
    border-radius: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1px 20px;
}

.Link-Carta:hover {
  background-color: rgb(150, 1, 1); /* Cambia el color de fondo al pasar el ratón */
}
    
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #5e5e5e;
      font-weight: bold;
    }
    
    .menu-list {
      list-style-type: none;
      padding: 0;
    }
    
    .menu-item {
      display: flex;
      color: #8E8A85;
      justify-content: space-between;
      border-bottom: 1px solid #000000;
      padding: 25px 0;
      font-size: 18px;
    }
    
    .menu-name {
      flex: 1;
      margin-right: 20px;
      color: #8E8A85;
    }
    
    .menu-price {
      font-weight: bold;
      color: #8E8A85;
      white-space: nowrap;
    }
    
    /* Responsividad */
    @media (max-width: 768px) {
  
      .menu-container {
        max-width: 80%;
      }
  
      .menu-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 14px 0;
      }
    
      .menu-name, .menu-price {
        font-size: 16px;
        margin: 5px 0;
      }
    }
    
    @media (max-width: 480px) {
      .menu-container {
        max-width: 80%;
      }
  
      h2 {
        font-size: 20px;
      }
    
      .menu-name {
        font-size: 14px;
      }
    
      .menu-price {
        font-size: 14px;
      }
    }
    